body {
  scroll-behavior: smooth;
}

h2{
  text-align: center;
  font-size: 4em;
  padding-top: 1em;
  color: white;
}

section{
    min-height: 100vh;
    padding-bottom: 1em;
    width: auto;
}

/*sekcja menu*/
#menu{
background-color:rgba(69,69,69,0.5);
}

#menu .navbar-brand{
border: 1px white solid;
padding-left: 0.5em;
padding-right: 0.5em;
}
#menu .scroll{
  background-color:rgb(69,69,69);
}
#menu .active{
  text-decoration: none;
  border: 1px white solid;
  color: white;
  background-color:rgb(50,50,50)
}
#menu .nav-link{
  color: white;
}

/*sekcja homepage*/
#homepage{
    background-color: #1f1f1d;
    background-image: url("../img/apple-devices-computer-contemporary-234527.jpg");
    height: 100vh;
    background-size: 100% 100%;
    color: white;
    text-align: center;
}

#homepage div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#homepage h1 {
  font-size: 4em;
  display: block;
  font-weight: bold;
}

#homepage h2 {
  font-size: 2em;
  padding-top: 0;
  display: block;
}

/*sekcja about*/
#about img{
  width:100%;
  height: 100%;
  border: 1px solid black;
}
#about .abg{
  background-color: rgba(120, 120, 120, 0.8);
  padding: 30px;
}

#about .photo{
  background-color: white;
  padding: 0.6em;
  padding-bottom: 2.5em;
  width:100%;
  height: auto;
  max-width: 50vw;
  border: 1px solid black;
  margin: auto;
}


#about{
  background-color: rgb(120, 120, 120);
  background-image:url("../img/notebook-1280538_1920.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: justify;
  color: white;
}

/*sekcja skills*/

#skills{
  background-color: rgb(58, 58, 58);
  background-image: url("../img/apple-black-and-white-brick-wall-169573.jpg");
  height: auto;
  background-size: 100% 100%;
  color: white;
}


#skills .skill-set {
  text-align: center;
}
#skills img{
  display: inline-block;
  width: 100%;
  height: 100%;
}
#skills .bg{
  width: 25%;
  margin: 2%;
  padding: 5%;
  display: inline-block;
  transition: transform .1s;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
}
#skills .bg:hover{
 transform: scale(1.1);
}

/*sekcja emptyspace*/

.es{
  background-color: rgb(150, 150, 150);
  min-height: auto;
  border-top: 2px black solid;
  border-bottom: 2px black solid;
  height: 1vh;
}

/*sekcja projects*/
#projects{
  background-color: rgb(150, 150, 150);
  background-image: url("../img/background-balance-business-583846.jpg");
  height: auto;
  background-size: 100% 100%;
  padding-bottom: 5%;
}
#projects img {
  width: 100%;
  height: auto;
}
#projects h2 {
  padding: 5%;
}
#projects h3 {
  font-size: 3em;
}
#projects .screens{
  padding: 5%;
}
#projects .description{
  padding: 5%;
}
#projects .description > p{
    font-size: 1.5em;
}
#projects .project{
  text-align:center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 5%;
  color: white;
}



/*sekcja social*/
#social{
  background-color: rgb(140, 140, 140);
  background-image: url("../img/arrows-blur-close-up-163130.jpg");
  background-size: 100% 100%;
  min-height: auto;
  padding-bottom: 50px;
}
#social h2{
  color: white;
  padding-bottom: 30px;
}

#social .icons{
  padding-top: 10px;
}
#social a > img{
 width: 60px;
 height: 60px;
}

#social .item{
 padding: 20px;
 margin: 10px;
 display: inline-block;
 opacity: 0.9;
 transition: transform .1s;
 border-radius: 50%;
 background-color: rgba(255, 255, 255, 1);
}
#social .item:hover{
 opacity: 1.0;
 transform: scale(1.1);
}


/*sekcja contact*/

#contact{
  background-color: rgb(106, 95, 85);
  background-image: url("../img/antique-blank-camera-269810.jpg");
  height: 100vh;
  background-size: 100% 100%;
}

#contact .space{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-top: 30px;
}
#contact .alert-info{
  text-align: center;
}
#contact textarea{
  height: 100%;
}

#contact   .form-control{
text-decoration: none;
}
#contact .form-control:hover{
  padding: auto;
  margin:  auto;
  background-color: silver;
  border: 1px solid #008CBA;
}



#contact .button{
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
  /*  -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;*/
    background-color: grey;
    border: 1px solid silver;
    color: black;

}
/*
#contact .button:hover {
    background-color: #008CBA;
    color: white;
}
*/
#contact{
  padding-bottom: 5em;
}
