
<nav id="menu" class="navbar navbar-expand-md navbar-dark fixed-top">
   <a class="navbar-brand" href="#">Bartłomiej Chyziński</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>

   <div id="navbarsExampleDefault" class="collapse navbar-collapse" >
     <ul class="navbar-nav mr-auto" role="tablist">
       <li class="nav-item">
         <a class="nav-link" href="#about">O mnie</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#skills">Umiejętności</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#projects">Projekty</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#social">Media społecznościowe</a>
       </li>
       <li class="nav-item">
         <a class="nav-link" href="#contact">Kontakt</a>
       </li>


     </ul>
   </div>
 </nav>
