<main class="container-fluid">
  <article>
<section id="homepage" class="row">
  <div class="col-12">
    <h1>Bartłomiej Chyziński</h1>
    <h2>Junior Web Developer</h2>

  </div>
</section>

<section class="row es">
  <div class="col-12">
  </div>
</section>
