
    <section id="about" class="row">
      <div class="sec-head col-12">
        <h2>O mnie</h2>
      </div>
          <div class="col-sm-4 col-md-3 col-lg-2 offset-sm-1 offset-md-1 offset-lg-2">
            <div class="photo"><img src="img/photo.jpg"></div>
          </div>
        <div class="col-sm-6 col-md-7 col-lg-6">

          <p class="abg">

            Nazywam się Bartłomiej Chyziński, jestem studentem pierwszego roku
            informatyki stosowanej na Uniwersytecie Mikołaja Kopernika w Toruniu.
            Od ponad roku pasjonuje się programowaniem webowym, dzięki czemu
            poznałem nowe technologie takie jak: HTML 5, CSS 3, JS,
            Bootstrap, JQuery, Java. Swoja wiedze wykorzystałem w kilku projektach,
            które tworze w wolnym czasie. Moim celem zawodowym jest znalezienie
            pracy na stanowisku junior web developera, w której będę mógł
            rozwijać swoje umiejętności oraz angażować się w ciekawe projekty.

          </p>
        </div>
    </section>

    <section class="row es">
      <div class="col-12">
      </div>
    </section>
