<section id="skills" class="row">
  <div class="col-12">
      <h2>Umiejętności</h2>
  </div>
  <div class="col-10 offset-1">
    <div class="table row">

      <div class="skill-set col-sm-6 col-lg-4">
        <h3>Front-end</h3>
          <div class="bg"><a href="https://www.w3.org/html/"      ><img src="img/logo/html.svg"></a></div>
          <div class="bg"><a href="https://www.w3.org/Style/CSS/" ><img src="img/logo/css.svg"></a></div>
          <div class="bg"><a href="https://en.wikipedia.org/wiki/JavaScript"><img src="img/logo/javascript.svg"></a></div>
          <div class="bg"><a href="https://getbootstrap.com/"     ><img src="img/logo/bootstrap.svg"></a></div>
          <div class="bg"><a href="https://jquery.com/"           ><img src="img/logo/jquery.svg"></a></div>
      </div>

      <div class="skill-set col-sm-6 col-lg-4">
        <h3>Back-end</h3>
          <div class="bg"><a href="https://java.com/"      ><img src="img/logo/java.svg"></a></div>
          <div class="bg"><a href="https://spring.io/"     ><img src="img/logo/spring.svg"></a></div>
          <div class="bg"><a href="https://hibernate.org/" ><img src="img/logo/hibernate.svg"></a></div>
          <div class="bg"><a href="https://mysql.com/"     ><img src="img/logo/mysql.svg"></a></div>
          <div class="bg"><a href="https://www.docker.com/"><img src="img/logo/docker.svg"></a></div>
          <div class="bg"><a href="https://docs.docker.com/compose/"><img src="img/logo/docker-compose.png"></a></div>

      </div>

      <div class="skill-set col-sm-6 col-lg-4 mx-auto">
        <h3>Narzędzia</h3>
        <div class="bg"><a href="https://ubuntu.com/" ><img src="img/logo/ubuntu.svg"></a></div>
        <div class="bg"><a href="https://git-scm.com/"><img src="img/logo/git.svg"></a></div>
        <div class="bg"><a href="https://gitlab.com/" ><img src="img/logo/gitlab.svg"></a></div>
        <div class="bg"><a href="https://www.jetbrains.com/idea/"   ><img src="img/logo/intellij.svg"></a></div>
        <div class="bg"><a href="https://www.gnu.org/software/bash/"><img src="img/logo/bash.svg"></a></div>
      </div>
    </div>
  </div>

</section>

<section class="row es">
  <div class="col-12">
  </div>
</section>
