<section id="projects" class="row">
  <div class="col-12">
    <h2>Projekty</h2>
  </div>
  <div class="project col-10 offset-1">
    <h3>RetroSnake</h3>
    <div class="row">
      <div class="screens col-md-6">
        <img src="img/start.png">
      </div>

      <div class="description col-md-6">
        <p>RetroSnake jest klonem gry Snake wydanej po raz
          pierwszy w 1976 roku pod nazwą Blockade. Silnik gry napisany
          został w języku JavaScript i wykorzystuje on do wyświetlania grafiki element
          canvas dodany w HTML5.
          <p>
            <a href="https://gitlab.com/bartekchy/retrosnake">Repozytorium gitlab</a>
             <br>
            <a href="http://retrosnake.pl/">RetroSnake</a>
          </p>
        </p>
      </div>
    </div>
</div>
</section>

<section class="row es">
  <div class="col-12">
  </div>
</section>
