
<section id="social" class="row">
	<div class="col-12">
		 <h2>Media społecznościowe</h2>
	</div>
	<div class="col-sm-8 offset-sm-2 icons">
		<div class="row">

			<div class="col-6 col-sm-4 col-md-2">
				<div class="item">
					<a href="https://leetcode.com/bartekchy/">
						<img src="img/logo/leetcode.png">
					</a>
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-2">
				<div class="item">
					<a href="https://www.hackerrank.com/bartekchyzinski">
						<img src="img/logo/hackerrank.svg">
					</a>
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-2">
				<div class="item">
					<a href="https://gitlab.com/bartekchy?nav_source=navbar">
						<img src="img/logo/gitlab.svg">
					</a>
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-2">
				<div class="item">
					<a href="https://github.com/bartekchy">
						<img src="img/logo/github.svg">
					</a>
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-2">
				<div class="item">
					<a href="https://www.linkedin.com/in/bart%C5%82omiej-chyzi%C5%84ski-02a5b1190/">
						<img src="img/logo/linkedin.svg">
					</a>
				</div>
			</div>

			<div class="col-6 col-sm-4 col-md-2">
				<div class="item">
					<a href="https://www.facebook.com/bartek.chyzinski">
						<img src="img/logo/facebook.svg">
					</a>
				</div>
			</div>

		</div>
	</div>
</section>

<section class="row es">
	<div class="col-12">
	</div>
</section>
