<section id="contact" class="row">
		<div class="col-12">
		 <h2>Formularz kontaktowy</h2>
		</div>
		<div class="col-md-8 offset-md-2">
			<div class="alert alert-info" role="alert">
				Formularz w budowie, proszę o kontakt mailowy pod adresem:
				<span id="m">(Uruchom JavaScript aby wyświetlić adres e-mail)</span>
			</div>
			 	<form>
			 		<div class="space row">
						<div class="col-sm-6">
			 	 			<div class="form-group">
				 				<input class="form-control" type="text" placeholder="Imie">
			 				</div>
				  		<div class="form-group">
				    		<input class="form-control" type="text" placeholder="E-mail">
				  		</div>
				  		<div class="form-group">
				    		<input class="form-control" type="text" placeholder="Tytuł">
				  		</div>
						</div>


						<div class="form-group col-sm-6">
			    		<textarea class="form-control" placeholder="tresć"></textarea>
			  		</div>
						<div class="mx-auto col-sm-6">
				 			<input class="button btn btn-sm" type="button" value="Wyślij" disabled>
						</div>
					</div>
				</form>
	 	</div>
</section>
